.inputGroupChild,
.inputHighlight {
  height: 44px;
  position: relative;
  border-radius: 5px;
  background-color: #f0f0f6;
  font-size: 20px;
  color:black;
}
.inputHighlight {
  flex: 1;
  width: 110px;
  width: 80%;
  
}
.inputGroupChild {
  width: 100.3px;
}
.inputGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  max-width: 100%;
  margin-left:20px;
}
@media screen and (max-width: 675px) {
  .inputHighlight {
    min-width: 100%;
  }
}

.inputGroupChild,
.inputHighlight {
  height: 40px;
  position: relative;
  border-radius: 5px;
  background-color: #f0f0f6;
  border: none; 
}

.inputHighlight {
  flex: 1;
  min-width: 110px;
  max-width: 80%;
}

.inputGroupChild {
  width: 140.3px;
}

.inputGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  max-width: 100%;
}

@media screen and (max-width: 675px) {
  .inputHighlight {
    min-width: 100%;
  }
}
