.contactInformation,
.leaveMeYour {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.leaveMeYour {
  flex: 1;
  line-height: 40.2px;
  display: inline-block;
  min-width: 234px;
  max-width: 100%;
}
.contactInformation {
  line-height: 123.6%;
}
.formHeading {
  width: 1189px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  max-width: 100%;
}
.inputField,
.yourFullName {
  border: 0;
  outline: 0;
  position: relative;
}
.yourFullName {
  width: 339.9px;
  font-weight: 500;
  font-family: Inter;
  font-size: 18px;
  background-color: transparent;
  height: 22px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #767676;
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  padding: 0;
}
.inputField {
  background-color: #f0f0f6;
  align-self: stretch;
  height: 50px;
  border-radius: 5px;
  min-width: 250px;
}
.inputRows {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.1px;
  max-width: 100%;
}
.inputFieldsChild,
.yourEmail {
  border: 0;
  outline: 0;
  position: relative;
}
.yourEmail {
  width: 282px;
  font-weight: 500;
  font-family: Inter;
  font-size: 18px;
  background-color: transparent;
  height: 22px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #767676;
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  padding: 0;
}
.inputFieldsChild {
  background-color: #f0f0f6;
  align-self: stretch;
  flex: 1;
  border-radius: 5px;
  min-width: 250px;
}
.inputFields {
  align-self: stretch;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.subject {
  width: 98px;
  position: relative;
  line-height: 123.6%;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
}
.inputFieldsItem {
  border: 0;
  outline: 0;
  background-color: #f0f0f6;
  align-self: stretch;
  height: 50px;
  position: relative;
  border-radius: 5px;
  min-width: 250px;
}
.inputFields1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.1px;
}
.yourMessage {
  width: 181.1px;
  position: relative;
  line-height: 123.6%;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.inputFieldsInner {
  border: 0;
  background-color: #f0f0f6;
  outline: 0;
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 5px;
  flex-shrink: 0;
}
.inputFields2 {
  align-self: stretch;
  height: 240.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.1px;
}
.sendMessage1 {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 110px;
}
.infoDetails,
.sendMessage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sendMessage {
  cursor: pointer;
  border: 0;
  padding: 16.9px 20px;
  background-color: #ffb400;
  border-radius: 5px;
  flex-direction: row;
  white-space: nowrap;
}
.sendMessage:hover {
  background-color: #cc8200;
}
.infoDetails {
  flex: 1;
  background-color: #fff;
  flex-direction: column;
  padding: 25px 36px 27.3px;
  box-sizing: border-box;
  gap: 22px;
  min-width: 549px;
  max-width: 100%;
}
.locationChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: none;
}
.india {
  width: 35.3px;
  min-width: 35.3px;
}
.delhi,
.india,
.thStreet {
  position: relative;
  line-height: 24.2px;
  text-transform: capitalize;
  display: inline-block;
  z-index: 1;
}
.delhi {
  width: 36.3px;
  min-width: 36.3px;
}
.thStreet {
  align-self: stretch;
  min-width: 81.6px;
}
.addressLabels {
  width: 81.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 14.1px;
}
.addressBlock {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.city,
.country,
.streat {
  position: relative;
  line-height: 123.6%;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  min-width: 75.5px;
  z-index: 1;
}
.city,
.streat {
  min-width: 40.3px;
}
.streat {
  min-width: 58.4px;
}
.addressContainer,
.addressLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.addressLabel {
  gap: 16.1px;
  margin-top: -99.8px;
  text-align: left;
  font-size: 18px;
}
.addressContainer {
  position: absolute;
  top: 95.7px;
  left: 25.2px;
  width: 322.4px;
}
.contactIcons {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #ffb400;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.conslocationIcon {
  position: absolute;
  top: 11px;
  left: 11.1px;
  width: 18.1px;
  height: 18.1px;
  z-index: 2;
}
.contactDetails {
  position: absolute;
  top: 25.2px;
  left: 166.2px;
  width: 40.3px;
  height: 40.3px;
}
.locationItem {
  height: 211.1px;
  width: 372.7px;
  position: relative;
  background-color: #fff;
  display: none;
  max-width: 100%;
}
.city1,
.country1,
.streat1 {
  position: relative;
  line-height: 123.6%;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  min-width: 75.5px;
  z-index: 1;
}
.city1,
.streat1 {
  min-width: 40.3px;
}
.streat1 {
  min-width: 58.4px;
}
.countryParent,
.secondLocation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.countryParent {
  justify-content: flex-start;
  gap: 16.1px;
}
.secondLocation {
  justify-content: flex-end;
  padding: 0 0 1px;
}
.iconBackground {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #ffb400;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.conslocationIcon1 {
  position: absolute;
  top: 11.1px;
  left: 11.1px;
  width: 18.1px;
  height: 18.1px;
  z-index: 2;
}
.contactIcons1 {
  height: 40.2px;
  width: 40.3px;
  position: relative;
}
.bangladesh {
  width: 83.6px;
  display: inline-block;
  min-width: 83.6px;
}
.bangladesh,
.dhaka,
.vhataraBadda {
  position: relative;
  line-height: 24.1px;
  text-transform: capitalize;
  z-index: 1;
}
.dhaka {
  width: 45.3px;
  display: inline-block;
  min-width: 45.3px;
}
.vhataraBadda {
  align-self: stretch;
}
.bangladeshAddress,
.detailedAddress {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.detailedAddress {
  align-self: stretch;
  align-items: flex-end;
  gap: 14.1px;
}
.bangladeshAddress {
  flex: 1;
  align-items: flex-start;
  padding: 70.4px 0 0;
}
.location1,
.mapDetails {
  display: flex;
  flex-direction: row;
}
.mapDetails {
  width: 181.3px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  min-width: 181.3px;
  text-align: right;
  font-size: 15px;
}
.location1 {
  position: absolute;
  bottom: -4.3px;
  left: -0.3px;
  background-color: #fff;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  padding: 25.1px 25px 15.1px;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
  height: 100%;
  z-index: 3;
  text-align: left;
  font-size: 18px;
}
.location {
  align-self: stretch;
  height: 211.6px;
  background-color: #fff;
}
.communication,
.location,
.mobileChild {
  position: relative;
  max-width: 100%;
}
.communication {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobileChild {
  width: 372.7px;
  height: 211.1px;
  background-color: #fff;
  display: none;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #ffb400;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.iconsmobile {
  position: absolute;
  top: 11.1px;
  left: 11.1px;
  width: 18.1px;
  height: 18.1px;
  z-index: 2;
}
.ellipseParent {
  height: 40.2px;
  width: 40.3px;
  position: relative;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.supportServices {
  position: relative;
  line-height: 123.6%;
  text-transform: capitalize;
  font-weight: 500;
  z-index: 1;
}
.frameGroup {
  width: 181.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30.2px;
  flex-shrink: 0;
}
.div {
  align-self: stretch;
  position: relative;
  line-height: 24.1px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 45.3px;
  flex-shrink: 0;
  z-index: 1;
}
.frameParent,
.wrapper {
  display: flex;
  align-items: flex-start;
}
.wrapper {
  width: 45.3px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 69.4px 0 0;
  box-sizing: border-box;
  text-align: right;
  font-size: 15px;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.office,
.personal {
  position: relative;
  line-height: 123.6%;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  min-width: 58.4px;
  z-index: 1;
}
.personal {
  min-width: 80.6px;
}
.officeParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17.1px;
}
.div1,
.div2 {
  align-self: stretch;
  position: relative;
  line-height: 24.1px;
  text-transform: capitalize;
  z-index: 1;
}
.frameContainer,
.parent {
  display: flex;
  align-items: flex-start;
}
.parent {
  width: 161.2px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14.1px;
  text-align: right;
  font-size: 15px;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.contactDetails1,
.mobile {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.mobile {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 25.1px 25px 16.1px;
  box-sizing: border-box;
  gap: 14.1px;
  max-width: 100%;
}
.contactDetails1 {
  gap: 18.1px;
  text-align: left;
  font-size: 18px;
}
.contactDetails1,
.formAndLocation,
.locationDetails {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.locationDetails {
  width: 373px;
  flex-direction: column;
  align-items: flex-start;
  gap: 22.4px;
  min-width: 373px;
  text-align: right;
  font-size: 15px;
}
.formAndLocation {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 25.6px;
  font-size: 18px;
  color: #767676;
}
.formContainer,
.formContainerWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.formContainer {
  width: 1244px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 44.5px;
}
.formContainerWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 64px;
  box-sizing: border-box;
  text-align: left;
  font-size: 32px;
  color: #2b2b2b;
  font-family: Inter;
}
@media screen and (max-width: 1050px) {
  .locationDetails {
    flex: 1;
  }
  .formAndLocation {
    flex-wrap: wrap;
  }
  .formContainerWrapper {
    padding-bottom: 42px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .contactInformation,
  .leaveMeYour {
    font-size: 26px;
    line-height: 32px;
  }
  .infoDetails {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .formContainer {
    gap: 22px;
  }
}
@media screen and (max-width: 450px) {
  .contactInformation,
  .leaveMeYour {
    font-size: 19px;
    line-height: 24px;
  }
  .mapDetails {
    flex: 1;
  }
  .location1 {
    flex-wrap: wrap;
  }
  .location {
    height: auto;
    min-height: 211.6;
  }
  .frameContainer,
  .frameParent {
    flex-wrap: wrap;
  }
  .locationDetails {
    min-width: 100%;
  }
  .formContainerWrapper {
    padding-bottom: 27px;
    box-sizing: border-box;
  }
}
